body {
  padding-top: 20px;
  background-color: #ddd;
  font-family: Tahoma;
}

p.pequeno {
  font-size :14px ;
  text-align: right;
}

div#corpo {
  width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 30px #777;
}

form#busca {
  font-size: 14px;
  text-align: right;
}

table.listagem {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

table.listagem tr {
  height: 50px;
}

table.listagem td {
  /* border: 1px solid #ddd; */
  padding: 10px;
}

table.listagem tr:nth-child(even) {
  background-color: #f2f2f2;
}

table.listagem td:nth-child(1) {
  width: 50px;
}

table.listagem td:nth-child(3) {
  width: 90px;
}

table.detalhes {
  width: 100%;
}

table.detalhes td {
  padding: 10px;
  vertical-align: top; 
  /* border: 1px solid black; */
}

img.mini {
  width: 50px;
}

img.full {
  height: 400px;
}
